extends layout

block content
  .page-header
    h3 Contact Form

  h3 Members
    
  h4 Kevin Kim - #[a(href="https://github.com/007kevin") Github]
  h4 Preshoth Paramalingam - #[a(href="https://github.com/pparamalingam") Github]

  h4 Sadisha Galappatti - #[a(href="https://github.com/sadishag") Github]


  