extends layout

block content
  script. 
    var dbtweets = !{JSON.stringify(tweets)};
  h1 #FIXITKW
  p Use the #FIXITKW hashtag in your Tweets (with precise location turned on) and in your Instagram photos (add a location) and they will show up on the map from your location. 
  hr
  .row
    .col-sm-12
      ul#tweets
    .col-sm-12
      #map
    .col-sm-12
      #fucku
